@font-face {
  font-family: "iconfont"; /* Project id 1523948 */
  src: url('iconfont.woff2?t=1628243934250') format('woff2'),
       url('iconfont.woff?t=1628243934250') format('woff'),
       url('iconfont.ttf?t=1628243934250') format('truetype'),
       url('iconfont.svg?t=1628243934250#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shutu1:before {
  content: "\e7a5";
}

.icon-leidatu:before {
  content: "\e694";
}

.icon-leidatu1:before {
  content: "\e624";
}

.icon-liandong:before {
  content: "\e6e0";
}

.icon-yinlitu:before {
  content: "\e623";
}

.icon-kebianji:before {
  content: "\e622";
}

.icon-kanban:before {
  content: "\e6d8";
}

.icon-biaoge:before {
  content: "\e643";
}

.icon-rili:before {
  content: "\e61d";
}

.icon-rili1:before {
  content: "\e61f";
}

.icon-digui:before {
  content: "\e71e";
}

.icon-rili2:before {
  content: "\e620";
}

.icon-tuozhuai:before {
  content: "\e649";
}

.icon-tuozhuai1:before {
  content: "\e638";
}

.icon-tuozhuai2:before {
  content: "\e642";
}

.icon-biaodanliebiao-:before {
  content: "\e621";
}

.icon-biaodanliebiao:before {
  content: "\e637";
}

.icon-zhankai-menu:before {
  content: "\e61b";
}

.icon-zhaikai-menu:before {
  content: "\e61c";
}

.icon-zhankai:before {
  content: "\e636";
}

.icon-zhankai1:before {
  content: "\e6de";
}

.icon-shouqi:before {
  content: "\e6df";
}

.icon-fold1:before {
  content: "\e61a";
}

.icon-spread-line:before {
  content: "\e617";
}

.icon-spread-line1:before {
  content: "\e619";
}

.icon-GroupCopy:before {
  content: "\e618";
}

.icon-xiangshang:before {
  content: "\e628";
}

.icon-shangyou:before {
  content: "\e645";
}

.icon-zhongyou:before {
  content: "\e646";
}

.icon-yingyonglingyu:before {
  content: "\e647";
}

.icon-xiayou:before {
  content: "\e648";
}

.icon-iconset0448:before {
  content: "\e747";
}

.icon-shujuliutong:before {
  content: "\e693";
}

.icon-shujuliu:before {
  content: "\e881";
}

.icon-shujuliuzhuan:before {
  content: "\e635";
}

.icon-32_sjjc_C_BI_shujuliurenwu_1:before {
  content: "\e722";
}

.icon-xiaolvdashitubiao33312:before {
  content: "\e6d7";
}

.icon-renwu:before {
  content: "\e61e";
}

.icon-renwu1:before {
  content: "\e614";
}

.icon-renwu2:before {
  content: "\e615";
}

.icon-renwu3:before {
  content: "\e698";
}

.icon-renwu4:before {
  content: "\e705";
}

.icon-renwu5:before {
  content: "\e616";
}

.icon-jiancopyx:before {
  content: "\e60d";
}

.icon-jian:before {
  content: "\e727";
}

.icon-jia:before {
  content: "\e60f";
}

.icon-jia1:before {
  content: "\e697";
}

.icon-jian1:before {
  content: "\e610";
}

.icon-jian2:before {
  content: "\e65e";
}

.icon-gouwuche:before {
  content: "\e667";
}

.icon-gouwugouwuchedinggou:before {
  content: "\e60c";
}

.icon-code:before {
  content: "\e668";
}

.icon-customer-service:before {
  content: "\e66a";
}

.icon-elipsis:before {
  content: "\e66e";
}

.icon-fabulous:before {
  content: "\e66f";
}

.icon-good:before {
  content: "\e673";
}

.icon-fullscreen-shrink:before {
  content: "\e676";
}

.icon-fullscreen-expand:before {
  content: "\e675";
}

.icon-notification:before {
  content: "\e679";
}

.icon-mic:before {
  content: "\e678";
}

.icon-navigation:before {
  content: "\e67a";
}

.icon-move:before {
  content: "\e67b";
}

.icon-pin:before {
  content: "\e67d";
}

.icon-search:before {
  content: "\e67e";
}

.icon-time:before {
  content: "\e680";
}

.icon-telephone-out:before {
  content: "\e681";
}

.icon-telephone:before {
  content: "\e682";
}

.icon-unlock:before {
  content: "\e683";
}

.icon-upload:before {
  content: "\e684";
}

.icon-warning:before {
  content: "\e685";
}

.icon-zoom-in:before {
  content: "\e686";
}

.icon-zoom-out:before {
  content: "\e687";
}

.icon-caps-unlock-filling:before {
  content: "\e688";
}

.icon-clock-filling:before {
  content: "\e689";
}

.icon-decline-filling:before {
  content: "\e68a";
}

.icon-dynamic-filling:before {
  content: "\e68b";
}

.icon-help-filling:before {
  content: "\e68c";
}

.icon-fullscreen-expand-filling:before {
  content: "\e68d";
}

.icon-smile-filling:before {
  content: "\e68e";
}

.icon-setting-filling:before {
  content: "\e68f";
}

.icon-warning-filling:before {
  content: "\e690";
}

.icon-map-filling:before {
  content: "\e691";
}

.icon-prompt-filling:before {
  content: "\e692";
}

.icon-os-icon-add:before {
  content: "\e6a6";
}

.icon-os-icon-arrow-left:before {
  content: "\e6ac";
}

.icon-os-icon-arrow-right:before {
  content: "\e6ae";
}

.icon-os-icon-arrow-down:before {
  content: "\e6af";
}

.icon-os-icon-arrow-up:before {
  content: "\e6b3";
}

.icon-os-icon-data:before {
  content: "\e6c1";
}

.icon-os-icon-file:before {
  content: "\e6d6";
}

.icon-nav_arrow_right:before {
  content: "\e6f2";
}

.icon-nav_arrow_down:before {
  content: "\e6f3";
}

.icon-nav_collection_h:before {
  content: "\e6f4";
}

.icon-nav_arrow_up:before {
  content: "\e6f5";
}

.icon-nav_collection_nor:before {
  content: "\e6f6";
}

.icon-nav_more_nor:before {
  content: "\e6f7";
}

.icon-nav_personal:before {
  content: "\e6f8";
}

.icon-nav_public:before {
  content: "\e6f9";
}

.icon-nav_search:before {
  content: "\e6fa";
}

.icon-nav_share:before {
  content: "\e6fb";
}

.icon-caret_down:before {
  content: "\e6fe";
}

.icon-downmenu_screen:before {
  content: "\e6ff";
}

.icon-caret_up:before {
  content: "\e701";
}

.icon-downmenu_arrow_down:before {
  content: "\e702";
}

.icon-edit:before {
  content: "\e703";
}

.icon-unfold:before {
  content: "\e704";
}

.icon-fold:before {
  content: "\e706";
}

.icon-update:before {
  content: "\e707";
}

.icon-expend:before {
  content: "\e6fd";
}

.icon-calendar:before {
  content: "\e708";
}

.icon-funnel_h:before {
  content: "\e70a";
}

.icon-funnel_nor:before {
  content: "\e70b";
}

.icon-column_h:before {
  content: "\e70c";
}

.icon-column_nor:before {
  content: "\e70d";
}

.icon-stacked_nor:before {
  content: "\e70e";
}

.icon-pie_h:before {
  content: "\e70f";
}

.icon-line_h:before {
  content: "\e711";
}

.icon-pie_nor:before {
  content: "\e712";
}

.icon-stacked_h:before {
  content: "\e713";
}

.icon-line_nor:before {
  content: "\e714";
}

.icon-event:before {
  content: "\e715";
}

.icon-attribute:before {
  content: "\e717";
}

.icon-close:before {
  content: "\e718";
}

.icon-add-solid:before {
  content: "\e719";
}

.icon-download:before {
  content: "\e71a";
}

.icon-delete:before {
  content: "\e71b";
}

.icon-document:before {
  content: "\e71c";
}

.icon-question:before {
  content: "\e71d";
}

.icon-liuchengtu2:before {
  content: "\e710";
}

.icon-gantetu3:before {
  content: "\e6e7";
}

.icon-gantetu4:before {
  content: "\e6e6";
}

.icon-chengshi7:before {
  content: "\e60e";
}

.icon-gantetu5:before {
  content: "\e67c";
}

.icon-gantetu6:before {
  content: "\e716";
}

.icon-bingzhuangtu-copy:before {
  content: "\e600";
}

.icon-chengshi:before {
  content: "\e603";
}

.icon-chengshi1:before {
  content: "\e611";
}

.icon-tubiaoliandong:before {
  content: "\e66c";
}

.icon-guanxitu:before {
  content: "\e607";
}

.icon-chengshi2:before {
  content: "\e604";
}

.icon-chengshi3:before {
  content: "\e696";
}

.icon-chengshi4:before {
  content: "\e602";
}

.icon-guanxitu1:before {
  content: "\e695";
}

.icon-liuchengtu:before {
  content: "\e6aa";
}

.icon-tubiaozhuzhuangtu:before {
  content: "\e601";
}

.icon-guanxitu2:before {
  content: "\e64b";
}

.icon-chengshi5:before {
  content: "\e613";
}

.icon-liuchengtu1:before {
  content: "\e7ca";
}

.icon-tubiaozhuzhuangtu1:before {
  content: "\e605";
}

.icon-chengshi6:before {
  content: "\e961";
}

.icon-gantetu:before {
  content: "\e62d";
}

.icon-hierarchy-fill-vii:before {
  content: "\e612";
}

.icon-tubiaobeifen5:before {
  content: "\e608";
}

.icon-tubiaobeifen11:before {
  content: "\e609";
}

.icon-tubiao:before {
  content: "\e60a";
}

.icon-tubiaobingzhuangtu:before {
  content: "\e606";
}

.icon-gantetu1:before {
  content: "\e6c9";
}

.icon-_workspace_graphcircle:before {
  content: "\e60b";
}

.icon-gantetu2:before {
  content: "\e661";
}

