
@baseColor: #1f1f1f;
@minorColor: #575859;
@lineColor: #d5d5d5;
@active: #409eff;
@activeColor: #fff;
.boxSize(@w, @h) { width: @w; height: @h; }
.lineHeight(@h) {
  line-height: @h;
  height: @h;
}
.activeButton {
  background: @active;
  color: @activeColor;
}